<%- include('partials/header') -%>

    <h1><%= title %></h1>
    <p>
        <%= content %>
            <form action="/" method="get">
                <button type="submit">Back</button>
            </form>
    </p>

    <%- include('partials/footer') -%>